$color1: #244f75;
$color2: #60bfbf;
$color3: #8c4b7e;
$color4: #f8bb44;
$color5: #f24b4b;

$colorList: $color1, $color2, $color3, $color4, $color5;

$pAbs: absolute;
$pCent: center;

$countWidth: 0;
$countDelay: 0.2s;
